@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.modal-open {
  padding: 0 !important;
}

body {
  font-family: 'Noto Sans CJK TC', '微軟正黑體', sans-serif;
  margin: 0;
  padding: 0;
}

body button,
body input,
body optgroup,
body select,
body textarea {
  font-family: 'Noto Sans CJK TC', '微軟正黑體', sans-serif;
  line-height: normal;
}

body a {
  color: #000;
}

body a:hover {
  text-decoration: none;
  color: #000;
}

body input:focus {
  outline: none;
}

body button {
  background-color: unset;
  border: none;
}

body button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

body .transition {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .content {
  background: url("../img/icons/pic_bg.svg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-bottom: 25px;
}

body .content .nav-bar-area {
  height: 100px;
  left: 0;
  right: 0;
}

body .content .nav-bar-area .brand {
  margin-top: 25px;
  margin-left: 45px;
  display: inline-block;
}

body .content .nav-bar-area .brand .text-hide {
  background: url("../img/icons/logo.svg") no-repeat center center;
  background-size: cover;
  width: 222px;
  height: 32px;
}

body .content .nav-bar-area .login {
  width: 70px;
  height: 50px;
  background-color: #DD7F00;
  position: absolute;
  top: 0;
  right: 12%;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  body .content .nav-bar-area .login {
    right: 5%;
  }
}

body .content .nav-bar-area .login svg .man {
  fill: none;
}

body .content .nav-bar-area .login svg .outer {
  fill: #fff;
}

body .content .nav-bar-area .login:hover {
  background-color: #C65C00;
}

body .content .pos {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content .pos .two-icons {
  max-width: 430px;
  max-height: 430px;
  width: 30vw;
  height: 30vw;
  margin: 0 15px;
  display: inline-block;
}

@media (max-width: 768px) {
  body .content .pos .two-icons {
    width: 350px;
    height: 350px;
  }
}

body .content .pos .two-icons img {
  width: 100%;
}

body .content .pos .lottery {
  background: url("../img/photos/btn_lott-1@2x.png");
  background-size: cover;
}

body .content .pos .lottery:hover {
  background: url("../img/photos/btn_lott@2x.png");
  background-size: cover;
}

body .content .pos .win {
  background: url("../img/photos/bun_win@2x.png");
  background-size: cover;
}

body .content .pos .win:hover {
  background: url("../img/photos/bun_win-1@2x.png");
  background-size: cover;
}

body .content .content-in {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}

body .content .content-in .form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  body .content .content-in .form-area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .content .content-in .form-area .fill-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86%;
          flex: 0 0 86%;
}

@media (max-width: 992px) {
  body .content .content-in .form-area .fill-area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

body .content .content-in .form-area .fill-area .one-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

body .content .content-in .form-area .fill-area .one-item:nth-last-child(2) {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  body .content .content-in .form-area .fill-area .one-item:nth-last-child(2) {
    margin-bottom: 20px;
  }
}

body .content .content-in .form-area .fill-area .one-item:nth-last-child(1) {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  body .content .content-in .form-area .fill-area .one-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body .content .content-in .form-area .fill-area .one-item .little-title {
  font-weight: bold;
  padding: 0 10px;
  white-space: nowrap;
}

@media (max-width: 992px) {
  body .content .content-in .form-area .fill-area .one-item .little-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 10px;
  }
}

body .content .content-in .form-area .fill-area .one-item .small-form {
  border-radius: 5px;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #555555;
  padding: 15px;
  margin: 0 10px;
  background: url("../img/icons/icn_arrow_d.svg") no-repeat right 10px center #fff;
}

@media (max-width: 992px) {
  body .content .content-in .form-area .fill-area .one-item .small-form {
    font-size: 14px;
  }
}

body .content .content-in .form-area .fill-area .one-item .input-in {
  border: 1px solid #B1B1B1;
  background: none;
  background-color: #fff;
  width: 10%;
  padding: 13px;
}

body .content .content-in .form-area .fill-area .one-item .long {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

body .content .content-in .form-area a,
body .content .content-in .form-area button {
  background-color: transparent;
  max-width: 140px;
  cursor: pointer;
  padding: 0;
}

body .content .content-in .form-area a svg,
body .content .content-in .form-area button svg {
  width: 100%;
}

body .content .content-in .form-area a svg,
body .content .content-in .form-area button svg {
  width: 100%;
  background-size: cover;
}

body .content .content-in .form-area a svg .a,
body .content .content-in .form-area button svg .a {
  fill: url(#c);
}

body .content .content-in .form-area a svg .b,
body .content .content-in .form-area button svg .b {
  fill: #fff;
  font-size: 30px;
  font-family: 'Noto Sans CJK TC', '微軟正黑體', sans-serif;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .content .content-in .form-area a svg .c,
body .content .content-in .form-area button svg .c {
  fill: url(#d);
}

body .content .content-in .form-area a svg stop,
body .content .content-in .form-area button svg stop {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .content .content-in .form-area a:hover svg #a stop:first-child,
body .content .content-in .form-area button:hover svg #a stop:first-child {
  offset: 0;
  stop-color: #ae1f20;
}

body .content .content-in .form-area a:hover svg #a stop:last-child,
body .content .content-in .form-area button:hover svg #a stop:last-child {
  stop-color: #d43b43;
}

body .content .content-in .form-area a:hover svg #d stop:first-child,
body .content .content-in .form-area button:hover svg #d stop:first-child {
  stop-color: #f95e65;
}

body .content .content-in .form-area a:hover svg #d stop:last-child,
body .content .content-in .form-area button:hover svg #d stop:last-child {
  stop-color: #9b1416;
}

body .content .content-in .form-area a:hover svg .b,
body .content .content-in .form-area button:hover svg .b {
  fill: #f2aeae;
  font-size: 30px;
  font-family: 'Noto Sans CJK TC', '微軟正黑體', sans-serif;
  font-weight: 700;
}

body .content .content-in .white-area-list {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 20px #B15F0080;
          box-shadow: 0px 6px 20px #B15F0080;
  margin-top: 40px;
  overflow-x: auto;
  overflow-y: auto;
  height: 800px;
}

body .content .content-in .white-area-list .top-bar {
  max-width: 1320px;
  height: 65px;
  width: 100%;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100px;
}

@media (max-width: 992px) {
  body .content .content-in .white-area-list .top-bar {
    height: 125px;
  }
}

body .content .content-in .white-area-list .for-pos {
  position: relative;
}

body .content .content-in .white-area-list .top-bar.fixed-now {
  position: fixed;
  top: 0;
}

body .content .content-in .white-area-list .big-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 340px;
  height: 65px;
  line-height: 65px;
  background-color: #B90202;
  color: #fff;
  border-radius: 0 0 20px 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

body .content .content-in .white-area-list .download-btns {
  position: absolute;
  margin-top: 20px;
  right: 30px;
  font-size: 30px;
}

@media (max-width: 992px) {
  body .content .content-in .white-area-list .download-btns {
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    font-size: 30px;
    margin-top: 80px;
  }
}

body .content .content-in .white-area-list .download-btns .pdf:hover .path1::before {
  color: #e2574c;
}

body .content .content-in .white-area-list .download-btns .print:hover .path1::before {
  color: #fabc08;
}

body .content .content-in .white-area-list .download-btns .excel:hover .path1::before {
  color: #1e7145;
}

body .content .content-in .white-area-list .makeup-block {
  width: 100%;
  height: 65px;
  display: none;
}

@media (max-width: 992px) {
  body .content .content-in .white-area-list .makeup-block {
    height: 105px;
  }
}

body .content .content-in .white-area-list .makeup-block.show {
  display: block;
}

body .content .content-in .white-area-list .list-of-winners {
  width: 1320px;
}

body .content .content-in .white-area-list .list-of-winners .the-list {
  padding: 20px 50px;
}

body .content .content-in .white-area-list .list-of-winners .the-list .award-title {
  color: #B90202;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  background-color: #fff;
  height: 50px;
}

@media (max-width: 992px) {
  body .content .content-in .white-area-list .list-of-winners .the-list .award-title {
    top: 125px;
    height: 75px;
  }
}

body .content .content-in .white-area-list .list-of-winners .the-list .info-title.short {
  top: 100px;
}

@media (max-width: 992px) {
  body .content .content-in .white-area-list .list-of-winners .the-list .info-title.short {
    top: 125px;
  }
}

body .content .content-in .white-area-list .list-of-winners .the-list .info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  background-color: #fff;
}

@media (max-width: 992px) {
  body .content .content-in .white-area-list .list-of-winners .the-list .info-title {
    top: 200px;
  }
}

body .content .content-in .white-area-list .list-of-winners .the-list .info-title .single-item {
  color: #848484;
  font-size: 14px;
  font-weight: bold;
}

body .content .content-in .white-area-list .list-of-winners .the-list .info-title .title-mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

body .content .content-in .white-area-list .list-of-winners .the-list .info-title .title-address {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

body .content .content-in .white-area-list .list-of-winners .the-list .info-title .title-name,
body .content .content-in .white-area-list .list-of-winners .the-list .info-title .title-mobile,
body .content .content-in .white-area-list .list-of-winners .the-list .info-title .title-number {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list {
  font-weight: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #c9c9c9;
}

body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list:hover {
  background-color: #F9E89B;
  border-radius: 10px;
}

body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list:last-child {
  border-bottom: none;
}

body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list .one-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list .item-mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list .item-address {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list .item-name,
body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list .item-mobile,
body .content .content-in .white-area-list .list-of-winners .the-list ul .one-list .item-number {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

body .content .content-in .white-area {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow: 0px 6px 20px #B15F0080;
          box-shadow: 0px 6px 20px #B15F0080;
  margin-top: 40px;
}

body .content .content-in .white-area .carousel-area {
  width: 100%;
}

body .content .content-in .white-area .carousel-area .carousel .carousel-indicators {
  bottom: 50px;
}

@media (max-width: 992px) {
  body .content .content-in .white-area .carousel-area .carousel .carousel-indicators {
    bottom: 10%;
  }
}

body .content .content-in .white-area .carousel-area .carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: #FFFFFF99;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

body .content .content-in .white-area .carousel-area .carousel .carousel-indicators .active {
  background-color: #FABC08;
}

body .content .content-in .white-area .carousel-area .carousel .carousel-control-next,
body .content .content-in .white-area .carousel-area .carousel .carousel-control-prev {
  width: unset;
}

body .content .content-in .white-area .carousel-area .carousel .carousel-control-next-icon,
body .content .content-in .white-area .carousel-area .carousel .carousel-control-prev-icon {
  width: 60px;
  height: 80px;
  outline: black;
  background-color: #fff;
  background-size: 100%, 100%;
  background-image: none;
}

@media (max-width: 992px) {
  body .content .content-in .white-area .carousel-area .carousel .carousel-control-next-icon,
  body .content .content-in .white-area .carousel-area .carousel .carousel-control-prev-icon {
    width: 30px;
    height: 40px;
  }
}

body .content .content-in .white-area .carousel-area .carousel .carousel-control-next-icon {
  -webkit-transform: translate(-56%, 0);
          transform: translate(-56%, 0);
}

@media (max-width: 992px) {
  body .content .content-in .white-area .carousel-area .carousel .carousel-control-next-icon {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body .content .content-in .white-area .carousel-area .carousel .carousel-control-next-icon::after {
  background-image: url("../img/icons/icn_arrow_r_b.svg");
  background-size: cover;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 50%;
  -webkit-transform: translate(4px, -28%);
          transform: translate(4px, -28%);
  content: '';
}

@media (max-width: 992px) {
  body .content .content-in .white-area .carousel-area .carousel .carousel-control-next-icon::after {
    -webkit-transform: translate(0, -28%);
            transform: translate(0, -28%);
    width: 30px;
    height: 30px;
  }
}

body .content .content-in .white-area .carousel-area .carousel .carousel-control-prev-icon {
  -webkit-transform: translate(56%, 0);
          transform: translate(56%, 0);
}

@media (max-width: 992px) {
  body .content .content-in .white-area .carousel-area .carousel .carousel-control-prev-icon {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body .content .content-in .white-area .carousel-area .carousel .carousel-control-prev-icon::after {
  background-image: url("../img/icons/icn_arrow_l_b.svg");
  background-size: cover;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 50%;
  -webkit-transform: translate(-4px, -28%);
          transform: translate(-4px, -28%);
  content: '';
}

@media (max-width: 992px) {
  body .content .content-in .white-area .carousel-area .carousel .carousel-control-prev-icon::after {
    -webkit-transform: translate(0, -28%);
            transform: translate(0, -28%);
    width: 30px;
    height: 30px;
  }
}

body .content .content-in .makeup-block {
  height: 65px;
  width: 100%;
}

body .content .content-in .btn-groups {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: rgba(245, 163, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@media (max-width: 992px) {
  body .content .content-in .btn-groups {
    font-size: 14px;
  }
}

body .content .content-in .btn-groups .three-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  position: relative;
}

body .content .content-in .btn-groups .three-btns .a-btn {
  width: 260px;
  height: 40px;
  color: #fff;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  margin: 0 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
}

body .content .content-in .btn-groups .three-btns .go-top {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  height: 62px;
  width: 62px;
}

@media (max-width: 992px) {
  body .content .content-in .btn-groups .three-btns .go-top {
    height: 30px;
    width: 30px;
  }
}

body .content .content-in .btn-groups .three-btns .go-top .icon-go_top {
  font-size: 62px;
}

@media (max-width: 992px) {
  body .content .content-in .btn-groups .three-btns .go-top .icon-go_top {
    font-size: 35px;
  }
}

body .content .content-in .btn-groups .three-btns .go-top .icon-go_top:hover .path1::before {
  color: #740000;
}

body .content .content-in .btn-groups .three-btns .finish-btn {
  background-color: #9E9E9E;
}

body .content .content-in .btn-groups .three-btns .finish-btn:hover {
  background-color: #7C7C7C;
}

body .content .content-in .btn-groups .three-btns .go-btn {
  background-color: #B90202;
}

body .content .content-in .btn-groups .three-btns .go-btn:hover {
  background-color: #740000;
}

body .content .content-in .btn-groups .three-btns .back-btn {
  background-color: #FFFFFF;
  color: #000;
}

body .content .content-in .btn-groups .three-btns .back-btn:hover {
  background-color: #F1F2F6;
}

body .modal-backdrop.show {
  opacity: 0.8;
}

body #inputWindow .modal-backdrop {
  opacity: 0.9 !important;
}

body #inputWindow .modal-dialog {
  width: 305px;
  margin-top: 7.5rem;
}

@media (max-width: 992px) {
  body #inputWindow .modal-dialog {
    margin: 3rem auto;
  }
}

body #inputWindow .modal-dialog .modal-content {
  border-radius: 20px;
  border: none;
}

body #inputWindow .modal-dialog .modal-content .modal-body {
  border-radius: 20px;
  background-color: #FABC08;
}

body #inputWindow .modal-dialog .modal-content .modal-body .input-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

body #inputWindow .modal-dialog .modal-content .modal-body .screen {
  width: 100%;
  border-radius: 5px;
  font-size: 30px;
  padding: 12px 10px;
  border: none;
  margin-bottom: 10px;
}

body #inputWindow .modal-dialog .modal-content .modal-body .number-btns .sort-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body #inputWindow .modal-dialog .modal-content .modal-body .number-btns .sort-number:last-child {
  margin-bottom: 20px;
}

body #inputWindow .modal-dialog .modal-content .modal-body .number-btns .sort-number button {
  background-color: #fff;
  font-size: 30px;
  font-weight: bold;
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

body #inputWindow .modal-dialog .modal-content .modal-body .number-btns .sort-number button:hover {
  background-color: #FFEFC2;
}

body #inputWindow .modal-dialog .modal-content .modal-body .number-btns .sort-number .clear-btn {
  font-size: 20px;
}

body #inputWindow .modal-dialog .modal-content .modal-body .the-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

body #inputWindow .modal-dialog .modal-content .modal-body .the-btns button {
  margin: 0 12.5px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  padding: 8px 31px;
  border: none;
}

body #inputWindow .modal-dialog .modal-content .modal-body .the-btns .cancel-btn {
  background-color: #9E9E9E;
}

body #inputWindow .modal-dialog .modal-content .modal-body .the-btns .cancel-btn:hover {
  background-color: #7C7C7C;
}

body #inputWindow .modal-dialog .modal-content .modal-body .the-btns .confirm-btn {
  background-color: #B90202;
}

body #inputWindow .modal-dialog .modal-content .modal-body .the-btns .confirm-btn:hover {
  background-color: #740000;
}

body #memberModal .modal-dialog {
  width: 380px;
  margin-top: 12rem;
}

@media (max-width: 992px) {
  body #memberModal .modal-dialog {
    margin: 0 auto;
    margin-top: 12rem;
    width: 355px;
  }
}

body #memberModal .modal-dialog .modal-content {
  border-radius: 20px;
  border: none;
}

body #memberModal .modal-dialog .modal-content .modal-body {
  border-radius: 20px;
  background-color: #FABC08;
}

body #memberModal .modal-dialog .modal-content .modal-body .white-area {
  border-radius: 13px;
  background-color: #fff;
  padding: 22px 20px;
}

body #memberModal .modal-dialog .modal-content .modal-body .white-area .member-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #memberModal .modal-dialog .modal-content .modal-body .white-area .member-row .title {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-right: 15px;
  white-space: nowrap;
}

body #memberModal .modal-dialog .modal-content .modal-body .white-area .member-row:first-child {
  margin-bottom: 20px;
}

body #memberModal .modal-dialog .modal-content .modal-body .the-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

body #memberModal .modal-dialog .modal-content .modal-body .the-btns button {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  padding: 8px 31px;
  border: none;
}

body #memberModal .modal-dialog .modal-content .modal-body .the-btns .cancel-btn {
  background-color: #9E9E9E;
}

body #memberModal .modal-dialog .modal-content .modal-body .the-btns .cancel-btn:hover {
  background-color: #7C7C7C;
}

body #memberModal .modal-dialog .modal-content .modal-body .the-btns .confirm-btn {
  background-color: #B90202;
}

body #memberModal .modal-dialog .modal-content .modal-body .the-btns .confirm-btn:hover {
  background-color: #740000;
}

body #winModal .modal-dialog {
  margin-top: 12rem;
  max-width: 1240px;
}

@media (max-width: 992px) {
  body #winModal .modal-dialog {
    margin: 0 auto;
    margin-top: 12rem;
    width: 355px;
  }
}

body #winModal .modal-dialog .modal-content {
  border-radius: 20px;
  border: none;
}

body #winModal .modal-dialog .modal-content .modal-body {
  border-radius: 20px;
  background-color: #FABC08;
}

body #winModal .modal-dialog .modal-content .modal-body .white-area {
  border-radius: 13px;
  background-color: #fff;
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .big-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 340px;
  height: 65px;
  line-height: 65px;
  background-color: #B90202;
  color: #fff;
  border-radius: 0 0 20px 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

@media (max-width: 992px) {
  body #winModal .modal-dialog .modal-content .modal-body .white-area .big-title {
    width: 220px;
  }
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list {
  padding: 20px 50px;
  padding-top: 80px;
  position: relative;
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list .winner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list .winner {
    display: block;
  }
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list .winner .single-item {
  font-size: 14px;
  color: #848484;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list .winner .single-item {
    margin-bottom: 5px;
  }
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list .winner .one-item {
  font-size: 18px;
  margin-bottom: 20px;
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list .cancel {
  position: absolute;
  left: 15px;
  top: 115px;
}

@media (max-width: 992px) {
  body #winModal .modal-dialog .modal-content .modal-body .white-area .list-of-winners .the-list .cancel {
    left: unset;
    right: 15px;
    top: 75px;
  }
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .member-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .member-row .title {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-right: 15px;
  white-space: nowrap;
}

body #winModal .modal-dialog .modal-content .modal-body .white-area .member-row:first-child {
  margin-bottom: 20px;
}

body #winModal .modal-dialog .modal-content .modal-body .the-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

body #winModal .modal-dialog .modal-content .modal-body .the-btns a,
body #winModal .modal-dialog .modal-content .modal-body .the-btns button {
  margin: 0 12.5px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  padding: 8px 31px;
  border: none;
  width: 260px;
}

@media (max-width: 992px) {
  body #winModal .modal-dialog .modal-content .modal-body .the-btns a,
  body #winModal .modal-dialog .modal-content .modal-body .the-btns button {
    width: auto;
  }
}

body #winModal .modal-dialog .modal-content .modal-body .the-btns .cancel-btn {
  background-color: #9E9E9E;
  color: #fff;
}

body #winModal .modal-dialog .modal-content .modal-body .the-btns .cancel-btn:hover {
  background-color: #7C7C7C;
}

body #winModal .modal-dialog .modal-content .modal-body .the-btns .confirm-btn {
  background-color: #B90202;
}

body #winModal .modal-dialog .modal-content .modal-body .the-btns .confirm-btn:hover {
  background-color: #740000;
}
/*# sourceMappingURL=main.css.map */